<!--マンガ評価一覧表示テーブル（管理者）-->
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th></th>
        <th>マンガのタイトル</th>
        <th>評価</th>
        <th>投稿者</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% mangas.each do |manga|%>
      <tr>
          <td class="pt-4 pb-5">
            <%= link_to admin_manga_path(manga) do%>
              <%=  attachment_image_tag manga, :image, :fill,60,60,fallback: "no_image.jpg" %>
            <% end %>
          </td>
          <td class="pt-5 pb-5">
            <%= link_to admin_manga_path(manga) do%>
              <%= manga.title%>
            <% end %>
          </td>
        <td>
          <!--(星の数値）-->
          <div>
              評価:<%= manga.review%>
          </div>
          <!--星評価-->
          <div id="star-rate-<%= manga.id %>">
          </div>
          <script>
          $('#star-rate-<%= manga.id %>').empty();
          $('#star-rate-<%= manga.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= manga.review %>,
          });
          </script>

        </td>
        <td class="pt-5 pb-5"><%= manga.member.first_name%><%= manga.member.last_name%></td>
        <td class="pt-5 pb-5"><%= link_to '削除', admin_manga_path(manga),method: :delete,"data-confirm" => "本当に削除しますか？", class: 'btn btn-danger'%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="pagination">
    <%= paginate mangas%>
  </div>