<h4 class="">タイトル名 : <%= manga.title%></h4>
<div class="border border">
  <div class="text-center">
  <%= attachment_image_tag manga, :image, :fill,300,300%>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>評価</td>
      <td>
        <!--星評価-->
        <div id="star-rate-<%= manga.id %>"></div>
        <script>
        $('#star-rate-<%= manga.id %>').empty();
        $('#star-rate-<%= manga.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= manga.review %>,
        });
        </script>
      </td>
    </tr>
    <tr>
      <td>紹介</td>
      <td><%= manga.introduction%></td>
    </tr>
    <tr>
      <td>感想</td>
      <td><%= manga.impression%></td>
    </tr>
  </tbody>
</table>