<!--プロフィール詳細(会員）-->
<div class="text-center">
  <div class="d-flex">
    <div class="border bordered col-6 m-0 pt-3 pb-3 ">会員</div>
    <div class="border bordered col-6 m-0 pt-3 pb-3"><%= @member.id%></div>
  </div>
  <div class="d-flex">
    <div class="border bordered col-6 m-0 pt-3 pb-3 " id="profile_image">プロフィール画像</div>
    <div class="border bordered col-6 m-0 pt-3 pb-3">
      <%= attachment_image_tag member, :profile_image, :fill,100,100, fallback: "no_image.jpg",class: "rounded mx-auto rounded-circle pt-4 pb-4"%>
    </div>
  </div>
  <div class="d-flex">
    <div class="border bordered col-6 m-0 pt-3 pb-3">名前</div>
    <div class="border bordered col-6 m-0 pt-3 pb-3"><%= @member.first_name%>　<%= @member.last_name%></div>
  </div>
  <div class="d-flex">
    <div class="border bordered col-6 m-0 pt-3 pb-3">フリガナ</div>
    <div class="border bordered col-6 m-0 pt-3 pb-3"><%= @member.first_name_kana%>　<%= @member.last_name_kana%></div>
  </div>
  <div class="d-flex">
    <div class="border bordered col-6 m-0 pt-3 pb-3">ニックネーム</div>
    <div class="border bordered col-6 m-0 pt-3 pb-3"><%= member.nickname%></div>
  </div>
  <div class="d-flex">
    <div class="border bordered col-6 m-0 pt-5 pb-5" id="introduction">自己紹介</div>
    <div class="border bordered col-6 m-0 pt-5 pb-5" id="introduction-text"><%= member.introduction%></div>
  </div>
  <div class="d-flex">
    <div class="border bordered col-6 m-0 pt-5 pb-5" id="introduction">Eメール</div>
    <div class="border bordered col-6 m-0 pt-5 pb-5" id="introduction-text"><%= member.email%></div>
  </div>
  <div class="d-flex">
    <div class="border bordered col-6 mb-4 pt-5 pb-5" id="introduction">会員ステータス</div>
    <div class="border bordered col-6 mb-4 pt-5 pb-5" id="introduction-text">
      <% if member.is_deleted == true%>
        <p class="text-danger">退会</p>
      <% else %>
        <p class="text-success">有効</p>
      <% end %>
    </div>
  </div>
</div>