<div class="container">
  <div class="row">
    <div class="col">
      <div class="border border">
        <h3 class="text-center"><%= @member.first_name%><%= @member.last_name%>さんの詳細ページ</h3>
      </div>
      <!--ユーザのプロフィール詳細を読み込む-->
      <%= render 'show', member: @member%>
      <%= link_to "#{@member.first_name} #{@member.last_name}さんの編集",edit_admin_member_path,class: 'btn btn-secondary btn-block'%>
      <div class="text-center mt-4 d-flex justify-content-between">
        <%= link_to "#{@member.first_name} #{@member.last_name}さんの投稿一覧",detail_admin_member_path,class: 'btn btn-info col-6'%>
        <%= link_to "ユーザー一覧表",admin_members_path,class: 'btn btn-warning col-6'%>
      </div>
      </div>
    </div>
</div>