<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="border border">
        <h3 class="text-center">マンガの感想＆紹介の詳細ページ</h3>
      </div>
      <%= render 'show', manga: @manga%>
      <%= render 'public/manga_comments/manga_comment', manga: @manga%>

    </div>
    <div class="col-3">
      <%= link_to '新規投稿',new_manga_path, class: 'btn btn-info'%>
      <%= link_to '投稿編集',edit_manga_path(@manga), class: 'btn btn-success'%>
      <%= link_to '削除',manga_path(@manga),method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger'%>
    </div>
      <%= render 'public/manga_comments/comment_form', manga: @manga,manga_comment: @manga_comment%>
  </div>
</div>