<!--マンガの紹介＆感想の詳細ページ（会員）-->
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="border border">
        <h3 class="text-center">マンガの感想＆紹介の詳細ページ</h3>
      </div>
      <%= render 'show', manga: @manga%>
      <div id="comment-area">
        <!--マンガの感想＆紹介のコメントの読み込み-->
        <%= render 'public/manga_comments/manga_comment', manga: @manga%>
      </div>

    </div>
    <div class="col-3">
      <%= render 'public/members/info', member: @manga.member%>

      <% if current_member == @manga.member %>
        <%= link_to '投稿編集',edit_manga_path(@manga), class: 'btn btn-success'%>

        <%= link_to '削除',manga_path(@manga),method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger'%>
      <% end %>
    </div>
      <%= render 'public/manga_comments/comment_form', manga: @manga,manga_comment: @manga_comment%>
  </div>
</div>