<div class="container">
  <div class="row">
    <div class="col">
      <% if @model == 'member'%>
        <h3>ユーザの検索結果 "<%= @content %>"の該当一覧 (検索カテゴリー) <%= @method%></h3>
        <%= render 'public/members/index', members: @records %>
      <% elsif @model == 'manga' %>
        <h3>マンガの検索結果 "<%= @content %>"の該当一覧</h3>
        <%= render 'public/mangas/index', mangas: @records %>
      <% end %>
    </div>
  </div>
</div>
