<!--ユーザーのプロフィール編集フォーム（会員）-->
<div class="col justify-content-center">
  <%= form_with model: member, local:true do |f| %>
    <div class="form-grop">
      <%= f.label :image, "プロフィール画像", class: 'col-md-2 form-label' %>
      <%= attachment_image_tag member, :profile_image, :fill,150,150, fallback: "no_image.jpg", class: "col-auto rounded rounded-circle"%> <br>
      <%= f.attachment_field :profile_image, class: 'form-controll' %>
    </div>
    <div class="form-grop">
      <%= f.label :'(姓)', class: 'col-md-2 form-label' %>
      <%= f.text_field :first_name, class: 'form-controll'%>
      <%= f.label :'(名)', class: 'col-md-2 form-label' %>
      <%= f.text_field :last_name, class: 'form-controll'%>
    </div>
    <div class="form-grop">
      <%= f.label :'(セイ)', class: 'col-md-2 form-label' %>
      <%= f.text_field :first_name_kana, class: 'form-controll'%>
      <%= f.label :'(メイ)', class: 'col-md-2 form-label' %>
      <%= f.text_field :last_name_kana, class: 'form-controll'%>
    </div>
    <div class="form-grop">
      <%= f.label :'ニックネーム', class: 'col-md-2 form-label' %>
      <%= f.text_field :nickname, class: 'form-controll'%>
    </div>
    <div class="form-grop">
      <%= f.label :'自己紹介', class: 'col-md-2 form-label' %>
      <%= f.text_area :introduction, class: 'form-controll',size: "70"%>
    </div>
    <div class="form-grop">
      <%= f.label :'Eメール', class: 'col-md-2 form-label' %>
      <%= f.text_field :email, class: 'form-controll',size: "60"%><br>
      <%= f.submit :'保存', class: 'btn btn-success mt-3 btn-block' %>
    </div>
      <%= link_to 'プロフィール画面へ戻る',member_path(member),class: 'btn btn-secondary mt-3 btn-block'%>
  <% end %>
</div>

