<!--会員一覧の表示テーブル（会員）-->
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>自己紹介</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% members.each do |member|%>
    <tr>
      <td>
        <%= link_to member_path(member) do%>
          <%= attachment_image_tag member, :profile_image, :fill,70,70,fallback: "no_image.jpg", class: "rounded rounded-circle"%> <br>
          <%= member.nickname%>
        <% end %>
      </td>
      <td><%= member.introduction%></td>
      <td>
        <%= link_to following_member_path(member) do%>
          フォロー数<%= member.followings.count%>
        <% end %>
        <%= link_to followers_member_path(member) do%>
          フォロワー数<%= member.followers.count%>
        <% end %>
      </td>
      <td>
          <% unless  current_member == member%>
            <% if current_member.following?(member) %>
            <%= link_to "フォローを外す",member_relationships_path(member.id), method: :delete, class: 'btn btn-primary'%>
            <% else %>
            <%= link_to "フォローする",member_relationships_path(member.id), method: :post,class: 'btn btn-success'%>
            <% end %>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination">
  <%= paginate members%>
</div>