<div>
  <%= attachment_image_tag member, :profile_image, :fill,150,150,fallback: "no_image.jpg",class: "rounded mx-auto d-block rounded-circle"%>
</div>
<div class="text-center">
  <%= member.nickname%>
</div>
<div class="text-center">
  <%= link_to following_member_path(member) do%>
    フォロー数<%= member.followings.count%>
  <% end %>
  <%= link_to followers_member_path(member) do%>
    フォロワー数<%= member.followers.count%>
  <% end %>
</div>
<% if current_member.following?(member)%>
  <%= link_to "フォローを外す",member_relationships_path(member.id), method: :delete, class: 'btn btn-primary'%>
<% else %>
  <%= link_to "フォローする",member_relationships_path(member.id), method: :post,class: 'btn btn-success'%>
<% end %>

<%= link_to '新規投稿',new_manga_path, class: 'btn btn-success'%>