<!--プロフィール詳細のテーブル-->
<table class="table table-bordered text-center">
  <tbody>
    <tr>
      <td>プロフィール画像</td>
      <td class="image"><%= attachment_image_tag member, :profile_image, :fill,200,200, fallback: "no_image.jpg",class: "rounded mx-auto d-block rounded-circle"%></td>
    <tr>
      <td>ニックネーム</td>
      <td><%= member.nickname%></td>
    </tr>
    <tr>
      <td>自己紹介</td>
      <td><%= member.introduction%></td>
    </tr>
    <tr>
      <td>
        <%= link_to following_member_path(member) do%>
          フォロー数<%= member.followings.count%>
        <% end %>
      </td>
      <td>
        <%= link_to followers_member_path(member) do%>
          フォロワー数<%= member.followers.count%>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>