<!--プロフィール詳細のテーブル-->
<table class="table table-bordered text-center h4">
  <tbody>
    <tr>
      <td  id="profile_image">プロフィール画像</td>
      <td>
        <%= attachment_image_tag member, :profile_image, :fill,200,200, fallback: "no_image.jpg",class: "rounded mx-auto rounded-circle pt-4 pb-4"%>
      </td>
    <tr>
      <td>ニックネーム</td>
      <td><%= member.nickname%></td>
    </tr>
    <tr>
      <td>自己紹介</td>
      <td><%= member.introduction%></td>
    </tr>
    <tr>
      <td class="text-success">
        <%= link_to 'フォロー数 ' + @member.followings.count.to_s ,following_member_path(member), class: 'text-dark'%>
      </td>
      <td>
        <%= link_to 'フォロワー数 ' + @member.followers.count.to_s ,followers_member_path(member), class: 'text-dark'%>
      </td>
    </tr>
  </tbody>
</table>