<div class="container">
  <div class="row">
    <!--ログインユーザと投稿ユーザーが同じなら-->
    <% if @member == current_member%>
      <div class="col-2">
        <%= render 'public/members/info',member: current_member%>
        <%= link_to 'プロフィール画面',member_path(current_member), class: 'btn btn-secondary btn-block'%>
      </div>
    <% end %>
    <div class="col">
      <div class="border border">
        <h3 class="text-center"><%= @member.nickname%>さんのフォロワー一覧</h3>
      </div>
      <%= render 'follow_table', member: @member,follow: @followers%>
    </div>
        <!--ログインユーザーと投稿ユーザーが違うなら-->
    <% unless @member == current_member%>
      <div class="col-2">
        <%= render 'public/members/info',member: @member%>
        <%= link_to 'プロフィール画面',member_path(current_member), class: 'btn btn-secondary btn-block'%>
      </div>
    <% end %>
  </div>
</div>