<!--会員ログイン画面-->
<div class="container">
  <div class="col text-center">
    <h2>ログイン画面</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :"Eメール", class: 'col-md-2 form-label'%> <br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-controll' %>
      </div>

      <div class="field">
        <%= f.label :'パスワード', class: 'col-md-2 form-label' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-controll' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="form-group row justify-content-center">
        <%= f.submit "ログイン", class: 'btn btn-info col-4' %>
      </div>
      <div class="form-group row justify-content-center">
        <%= render "public/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
